.Tile .background {
	background: linear-gradient(#fec, #fd9);
	box-shadow: 0 15px 0 #d9a426;
}

.Tile.selected {
	cursor: pointer;
	box-shadow: 0 0 10px white;
}

.Tile.selected .overlay {
	background-color: white;
}

.Tile.free {
	cursor: pointer;
}

.Tile.blocked {
	pointer-events: none;
}

.Tile.blocked .overlay {
	background-color: black;
}

.Tile.matched {
	pointer-events: none;
}